@model BlogSystem.Models.Blogs
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Create " + HttpContextAccessor.HttpContext.Session.GetInt32("Id");
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="blog_title" class="control-label"></label>
                <input asp-for="blog_title" class="form-control" />
                <span asp-validation-for="blog_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog_text" class="control-label"></label>
                <textarea rows="20" asp-for="blog_text" class="form-control"></textarea>
                <span asp-validation-for="blog_text" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="user_id" value='@HttpContextAccessor.HttpContext.Session.GetInt32("Id")' class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" value="@DateTime.Now" asp-for="creation_date" class="form-control" />
                <span asp-validation-for="creation_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" value="@DateTime.Now" asp-for="last_mod_date" class="form-control" />
                <span asp-validation-for="last_mod_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" value="1" asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
